<?xml version="1.0" ?>
<model>
    <name>finalrobot2_1100452_description</name>
    <version>1.0</version>
    <sdf version="1.7">urdf/finalrobot2_1100452.urdf</sdf>
    <author>
        <name>saki</name>
        <email>s1100452@mail.yzu.edu.tw</email>
    </author>
    <description>Final project robot description.</description>
</model>
